    <div data-role="header">
      <h1>Home</h1>
    </div>

    <div data-role="content">
      <% if current_user %>
        <% if flash[:notice] %>
          <div id="notice">
            <%= flash[:notice] %>
          </div>
        <%end%>
      <% else %>
        <%= link_to "TwitterでLoginする", "/auth/twitter", "data-role" => "button", :rel => "external" %>
      <% end %>
    </div>
