  <div data-role="header">
    <h1>MyPage</h1>
  </div>

  <div data-role="content">
    <%= link_to(current_user.screen_name, :alt => current_user.screen_name)%>
    <br/>

    <%= link_to(image_tag(current_user.image, :alt => current_user.screen_name), "https://twitter.com/" + current_user.screen_name) %>

  </div>

  <%= render :partial => 'shared/footer' %>